.LeftHome {
  font-style: italic;
  box-sizing: content-box;
  height: 45.67708333333333vh;
  width: 50%;
  padding: 13.90625vh;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 29.453vw;
  font-size: 1.5vw;
  background-color: #191e28;
  margin-top: 1.67vw;
  margin-left: 5.844vw;
  opacity: 1;
}
.LeftHome p {
  margin-top: 5vh;
  margin-left: -8vh;
}
.RightHome {
  background-color: #212121;
  background-image: url(../assets/shoes.jpg);
  background-size: contain;
  background-position: center;
  box-sizing: content-box;
  width: 26.041666666666668vh;
  height: 45.625vh;
  padding: 13.90625vh;
  width: 29.453vw;
  font-size: 1.5vw;
  background-color: #212121;
  margin-top: -30vw;
  margin-bottom: 3vw;
  margin-left: 40.28125vw;
  opacity: 1;
}
